header {
  // padding: 10px;
  background-color: white;
  margin-bottom: 30px;
  .header__wrapper {
    padding: 15px 0px 15px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      i {
        color: $red;
        font-size: 30px;
      }
      &:first-child {
        a {
          display: flex;
          align-items: center;
          span {
            margin-left: 5px;
            font-size: 20px;
          }
        }
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
      form {
        width: 100%;
        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          border: 1px solid $dark-grey;
          color: $black;
          font-weight: 600;
          max-width: none;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
