.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: black;
    position: absolute;
    z-index: 9;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      //   align-self: center;
      span:first-child {
        margin-right: 10px;
      }
    }
    .videoPlayer__column:last-child {
      justify-self: end;
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
    .videoPlayer__volume {
      position: absolute;
      padding: 0;
      opacity: 1;
      top: -60px;
      left: -25px;
      transform: rotate(-90deg);
      z-index: 10;
      width: 80px;
    }
  }
}
