.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1.4px solid $dark-grey;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #f3abb2;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 400;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    width: 100%;
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
    input {
      background: none;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid $dark-grey;
    }
    input:focus {
      border-bottom: 2px solid black;
    }
  }
  .add__comment {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video__commnets-list {
    margin-top: 50px;
    li {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      display: flex;
      align-items: center;
    }
    .comment-list__content {
      width: 100%;
      div {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      .commnets-list__info {
        display: flex;
        margin-bottom: 8px;
        font-size: 15px;
        align-items: center;
        span:first-child {
          font-weight: 600;
        }
        span:last-child {
          font-size: 12px;
          color: #7e7e7e;
        }
      }
      .commnets-list__text {
        font-size: 15px;
      }
      .commnets-list__bottom {
        .bottom__atc {
          display: flex;
          font-size: 15px;
          color: #7e7e7e;
          span {
            cursor: pointer;
          }
          span:not(:last-child) {
            margin-right: 15px;
          }
          .jsLike {
            color: #ec4959;
          }
        }
        .bottom__reply {
          .bottom__reply-form {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .reply-avatar {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          .bottom__reply-text {
            margin-left: 40px;
            li {
              display: block;
              margin-top: 10px;
              margin-bottom: 0;
              background: #f3abb2;
              color: white;
              padding: 15px 20px;
              border-radius: 20px;
              border-top-left-radius: 0;
            }
          }
        }
      }
    }
  }
  .comment-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    align-self: flex-start;
  }

  // .display-none {
  //   display: none;
  // }
}
